.sign-in {
    border: 1px solid red;
    flex-grow: 1;
    padding: 1vh;

    display: flex;
    flex-direction: column;

    .title {
        border: 1px solid red;
        margin: 10px 0;
    }

    span {
        border: 1px solid red;
    }

    form {
        
    }

    .buttons {
        border: 1px solid red;
        display: flex;
        justify-content: space-around;
    }
}