.header {
    display: flex;
    height: 100%;
    margin: 25px 0px;
  
    .logo-container {
      display: flex;
      justify-content: center;
      flex-grow: 1;
      padding-top: 5px;
      width: auto;
    }
  
    .nav-menu {
      display: flex;
      justify-content: flex-end;
      flex-grow: 8;
      align-items: center;
  
      .options {
        padding: 10px 15px;
        cursor: pointer;
      }
    }

    #cart-icon {
      flex-grow: 1;
    }
}